<div class="container mt-4">
  <h2>Add Trip</h2>

  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">
      <label class="form-label">Code</label>
      <input class="form-control" formControlName="code">
      @if (submitted && f['code'].errors) {
        <div class="text-danger">Trip Code is required.</div>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Name</label>
      <input class="form-control" formControlName="name">
      @if (submitted && f['name'].errors) {
        <div class="text-danger">Name is required.</div>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Length</label>
      <input class="form-control" formControlName="length">
    </div>

    <div class="mb-3">
      <label class="form-label">Start Date</label>
      <input type="date" class="form-control" formControlName="start">
    </div>

    <div class="mb-3">
      <label class="form-label">Resort</label>
      <input class="form-control" formControlName="resort">
    </div>

    <div class="mb-3">
      <label class="form-label">Per Person</label>
      <input class="form-control" formControlName="perPerson">
    </div>

    <div class="mb-3">
      <label class="form-label">Image Name</label>
      <input class="form-control" formControlName="image">
    </div>

    <div class="mb-3">
      <label class="form-label">Description</label>
      <textarea class="form-control" formControlName="description"></textarea>
    </div>

    <button class="btn btn-primary" type="submit">Save</button>
  </form>
</div>