<div class="container mt-4">
  <h2>Edit Trip</h2>

  @if (message) {
    <p>{{ message }}</p>
  }

  @if (editForm) {
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

      <div class="mb-3">
        <label class="form-label">Code</label>
        <input class="form-control" formControlName="code" readonly>
      </div>

      <div class="mb-3">
        <label class="form-label">Name</label>
        <input class="form-control" formControlName="name">
      </div>

      <div class="mb-3">
        <label class="form-label">Length</label>
        <input class="form-control" formControlName="length">
      </div>

      <div class="mb-3">
        <label class="form-label">Start Date</label>
        <input type="date" class="form-control" formControlName="start">
      </div>

      <div class="mb-3">
        <label class="form-label">Resort</label>
        <input class="form-control" formControlName="resort">
      </div>

      <div class="mb-3">
        <label class="form-label">Per Person</label>
        <input class="form-control" formControlName="perPerson">
      </div>

      <div class="mb-3">
        <label class="form-label">Image Name</label>
        <input class="form-control" formControlName="image">
      </div>

      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control" formControlName="description"></textarea>
      </div>

      <div class="d-flex gap-2">
        <button class="btn btn-primary" type="submit">
          Save
        </button>

        <button
            class="btn btn-danger"
            type="button"
            (click)="deleteTrip()"
        >
            Delete Trip
         </button>
        </div>
        
    </form>
  }
</div>